/* RESET BÁSICO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ESTILO GERAL */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #222;
}
/* TOPO */
.topo{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.topo h1{
    font-size: 32px;
    text-align: center;
}


/* MENU */
nav{
    background-color: #a31208;
}
nav ul{
    max-width: 1200px;
    margin: auto;
    list-style: none;
    display: flex;
}
nav ul li a{
    display: flex;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    background-color: #7e0f06;
}

/* CONTEÚDO PRINCIPAL */
main{
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}
/* DESTAQUE PRINCIPAL */
.destaque-principal article{
    background-color: #fff;
    padding: 15px;
}
.destaque-principal img{
    width: 100%;
}
.destaque-principal h2{
    font-size: 28px;
    margin: 15px 0;
}

/* NOTÍCIAS SECUNDÁRIAS */
.noticias-secundarias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}
.noticias-secundarias article{
    background-color: #fff;
    padding: 10px;
}

.noticias-secundarias img{
    width: 100%;
}
.noticias-secundarias h3{
    font-size: 18px;
    margin: 10px;
}

/* NOTÍCIAS POR CATEGORIA */
.noticias-categoria{
    background-color: #fff;
    padding: 15px;
    margin-top: 20px;
}
.noticias-categoria h2{
    margin-bottom: 15px;
    border-bottom: 2px solid #c4170c;
}
.noticias-categoria article{
    margin-bottom: 15px;
}

/*Aside*/
aside{
    background-color: #fff;
    padding: 15px;
}
aside h3{
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
}
aside ul{
    list-style: none;
}
aside ul li{
    margin-bottom: 8px;
}
aside ul li a{
    text-decoration: none;
    color: #c4170c;
    font-weight: bold;
}
footer{
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}


/* RESPONSIVO */

@media (max-width: 900px) {
    main{
        grid-template-columns: 1fr;
    }
    .noticias-secundarias{
        grid-template-columns: 1fr;
    }
    nav ul{
        flex-direction: column;
    }
}